<p id="notice"><%= notice %></p>

<h1>Les tirages du loto de la semaine</h1>

<% @games.each do |game| %>
  <div><%= game.name %> 
  <button type="button" class="btn btn-default"><%= link_to 'Voir', game %></button></div>
  <br />
<% end %>


