<p id="notice"><%= notice %></p>

<div class="panel-group">
  <div class="panel panel-primary">
    <div class="panel-heading"> <%= @game.name %><br /></div>
    <div class="panel-body"><%= @game.description %></div>
  </div>
</div>



<button type="button" class="btn btn-default"><%= link_to 'Back', games_path %></button>
